/* Styles CSS créés par Apix pour le site internet d'Armus */

/* Import de la police et des icônes */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons+Round);

:root {
  --text: #24292f;
  --bg: #ffffff;
  --code: #e9e9e9;
  --ref: #fcc12c;
  --ref2: #5dadec;
  --ref3: #be1931;
  --fnt-size: 18.5px;
  --scroll-size: 60px;
  --scroll-border-size: 6px;
  --table: #5c5c5c;
  --btn-border: #000000;
  --link-color: #518ef0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat, serif, Arial, Helvetica, sans-serif;
  font-size: var(--fnt-size);
  color: var(--text);
  background-color: var(--bg);
  margin: 0;
}

@media (prefers-color-scheme:dark) {
  :root {
    --text: #ffffff;
    --bg: #0d1117;
    --code: #24292f;
    --ref: #ffcc4d;
    --btn-border: #ffffff;
    color-scheme: dark;
  }
}

@media only screen and (max-width: 768px) {
  :root {
    --fnt-size: 17.5px;
    --scroll-size: 40px;
    --scroll-border-size: 4px;
  }
}

a {
  color: var(--link-color);
}

img {
  border-radius: 10px;
}

table,
th,
td {
  border: 1px solid var(--table);
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
  margin-bottom: 21.788px;
}

.members-table img {
  height: min(50vw, 300px);
}

.summary,
.summary th,
.summary td {
  border: 0;
  line-height: 1.2em;
  font-weight: 500;
}

.summary th {
  border-bottom: 1px solid var(--text);
}

.summary h2 {
  margin: 0;
  margin-bottom: .2em;
}

.summary a {
  text-decoration: none;
  color: var(--text);
  transition: color 0.25s;
}

.summary a:hover {
  transition: color 0.25s;
  color: var(--ref);
}

code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: .8em;
  background-color: var(--code);
  border-radius: 6px;
  white-space: nowrap;
  font-family: Consolas, Menlo, Monaco, "Lucida Console, Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
}

li {
  line-height: 1.5em;
}

.ref, .ref2, .ref3 {
  text-decoration: none;
  font-weight: 600;
  text-shadow: 0 0 10px;
  transition: text-shadow 0.5s;
}

.ref {
  color: var(--ref);
}

.ref2 {
  color: var(--ref2);
}

.ref3 {
  color: var(--ref3);
}

.ref:hover, .ref2:hover, .ref3:hover  {
  transition: text-shadow 0.5s;
  text-shadow: 0 0 20px;
}

.material-icons-round {
  font-size: 30px;
}

.normalfontsize {
  font-size: 1em
}

#one {
  color: #ffffff;
  background: #790909;
  background: linear-gradient(145deg, #2b0000 0%, #790909 35%, #ff0000 100%);
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: .1em;
  margin: 0;
  padding: 0;
  background-size: 400% 400%;
  animation: animated-gradient 10s ease infinite;
}

/* Start languages colors */

/* English */
#one.color-en, .topback.color-en {
  background: #0f00e0;
  background: linear-gradient(145deg, #0f00e0 0%, #44017a 35%, #cf0202 100%);
  background-size: 400% 400%; 
  animation: animated-gradient 10s ease infinite;
}

/* Turkish */
#one.color-tr, .topback.color-tr {
  background: #bb3333;
  background: linear-gradient(145deg, #503a3a 0%, #bb3333 35%, #f52626 100%);
  background-size: 400% 400%; 
  animation: animated-gradient 10s ease infinite;
}

/* Lolcat */
#one.color-lolcat, .topback.color-lolcat {
  background: #bb3333;
  background: linear-gradient(145deg, #d1b35f 0%, #ce7c1f 35%, #7a3a05 100%);
  background-size: 400% 400%; 
  animation: animated-gradient 10s ease infinite;
}

/* End Languages colors */

@keyframes animated-gradient {
  0% {background-position: 0% 50%}
  50% {background-position: 100% 50%}
  100% {background-position: 0% 50%}
}

#one h1 {
  font-size: min(17.5vw, 185px);
  margin-top: 0;
  margin-bottom: 5px;
}

.scroll {
  height: var(--scroll-size);
  width: var(--scroll-size);
  border: var(--scroll-border-size) solid #ffffff;
  border-radius: var(--scroll-size);
  color: white;
  font-size: var(--scroll-size);
  transition: transform 0.5s;
}

.scroll:hover {
  transition: transform 0.5s;
  transform: scale(1.05);
}

.svgicon {
  height: 1em;
  width: 1em;
  display: inline-flex;
  align-self: center;
  top: .125em;
  position: relative;
}

#two {
  margin: 8px;
}

.line-image img {
  width: min(100%, 800px);
}

.menu {
  border: 5px solid var(--text);
  border-radius: 50px;
  padding: 7.5px;
  width: fit-content;
  margin: auto;
}

.menu span {
  font-size: 35px;
  color: var(--text);
  padding-left: 5px;
  padding-right: 5px;
}

.menu a {
  text-decoration: none;
}

.topback {
  height: 40px;
  background: linear-gradient(145deg, #2b0000 0%, #790909 35%, #ff0000 100%);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.topback a {
  color: #ffffff;
  text-decoration: none;
}

.topback h4 {
  color: #ffffff;
  font-size: 20px;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
  border-radius: 0;
}

.spaceline {
  height: 2px;
  border-radius: 1px;
  width: 75vw;
  background-color: var(--ref);
  margin-left: auto;
  margin-right: auto;
}

.goldlink a {
  color: var(--ref);
  text-decoration: none;
  border-bottom: 1.5px solid;
}

blockquote {
  border-left: 5px solid var(--code);
  padding-left: 7.5px;
}

/* Test navbar */

.navbar {
  height: 2.25em;
  background-color: var(--code);
}

.navbar ul {
  padding: 0;
  width: 100%;
  margin: 0 auto;
}

.navbar ul li {
  list-style: none;
  font-size: 15px;
  text-decoration: none;
  float: left;
  display: block;
  padding: 10px;
  color: var(--text);
  font-weight: 600;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--text);
  transition: color 0.25s;
}

.navbar ul li a:hover {
  transition: color 0.25s;
  color: var(--link-color);
}

/* navbar end */

.langpick {
  text-align: center;
  font-size: 2em;
}

.langpick .used {
  filter: grayscale(1);
}

.langpick a img {
  transition: transform 0.5s;
}

.langpick a:hover img {
  transition: transform 0.5s;
  transform: scale(1.05);
}

.dotlined {
  border-bottom: 2px var(--table) dashed;
}

.styled-btn {
  border: 3px solid var(--btn-border);
  margin: auto;
  border-radius: 1.5em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 18.5px;
  margin-bottom: 18.5px;
  transition: box-shadow 0.5s, transform 0.5s;
}

.styled-btn img {
  height: 1em;
  width: 1em;
  display: inline-flex;
  align-self: center;
}

.styled-btn div {
  font-weight: 500;
  font-size: .95em;
  padding-left: .3em;
}

.styled-btn:hover {
  transition: box-shadow 0.5s, transform 0.5s;
  box-shadow: 0 0 10px var(--btn-border);
  transform: scale(1.05);
}

.gh-button {
  width: 10em;
  height: 2em;
}

.red-btn {
  color: #ffffff;
  background: linear-gradient(145deg, #2b0000 0%, #790909 35%, #ff0000 100%);
}

.text-btn {
  width: fit-content;
}

.text-btn div {
  margin: 5px;
  margin-right: 10px;
}

.nounderline {
  text-decoration: none
}

.remerciements a {
  color: inherit;
}

.remerciements code a {
  color: var(--link-color);
}

.remerciements li:target {
  animation: target-fade 6s 1;
}

@keyframes target-fade {
  0% {
    background-color: #455b6c;
  }

  100% {
    background-color: var(--bg)
  }
}

.members-table tbody tr td a span.material-icons-round {
  color: var(--ref);
}

/* Rickroll */

.rick {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100vh;
  width: 100vw;
  background-color: #00000075;
}

.closerick {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 35px;
  border-radius: 1.5em;
  background: var(--ref);
  transition: transform 0.5s, box-shadow 0.5s;
}

.closerick:hover {
  transition: transform 0.5s, box-shadow 0.5s;
  transform: scale(1.05);
  box-shadow: 0 0 10px var(--ref);
}

#rickroll {
  display: none;
  position: absolute;
  left: 10vw;
  top: calc(50vh - 45vw/2);
  width: 80vw;
  height: 45vw;
  border: 5px solid var(--ref);
  border-radius: 1.5vw;
  z-index: 69;
}