/* Styles CSS créés par Apix pour le site internet d'Armus */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,600,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons+Round);

:root {
  --text: #24292f;
  --bg: #ffffff;
  --code: #e9e9e9;
  --ref: #ffdd00;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', serif;
  font-size: 20px;
  color: var(--text);
  background-color: var(--bg);
  margin: 0;
}

@media (prefers-color-scheme:dark) {
  :root {
    --text: #ffffff;
    --bg: #0d1117;
    --code: #24292f;
    --ref: #fde33d;
    color-scheme: dark;
  }
}

a {
  color: #518ef0;
}

img {
  border-radius: 10px;
}

table,
th,
td {
  border: 1px solid #5c5c5c;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}

code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 80%;
  background-color: var(--code);
  border-radius: 6px;
}

.ligne {
  line-height: 1.3em;
}

.ref {
  text-decoration: none;
  color: var(--ref);
  font-weight: 600;
  text-shadow: 0 0 10px var(--ref);
}

.material-icons {
  font-size: 30px;
}

#one {
  color: #ffffff;
  background: linear-gradient(145deg, rgba(43, 0, 0, 1) 0%, rgba(121, 9, 9, 1) 35%, rgba(255, 0, 0, 1) 100%);
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: .1em;
  margin: 0;
  padding: 0;
}

.svgicon {
  height: 1em;
  width: 1em;
  display: inline-flex;
  align-self: center;
  top: .125em;
  position: relative;
}

#two {
  margin: 8px;
}

.scroll {
  height: 50px;
  width: 50px;
  border: 5px solid #ffffff;
  border-radius: 50px;
  color: white;
  font-size: 50px;
}

.line-image img {
  width: min(100%, 800px);
}

.menu {
  border: 5px solid #ffffff;
  border-radius: 50px;
  padding: 7.5px;
}

.menu span{
  font-size: 35px;
  color: #ffffff;
  padding-left: 5px;
  padding-right: 5px;
}

.menu a {
  text-decoration: none;
}