/* Styles CSS créés par Apix pour le site internet d'Armus */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,600,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons+Round);

:root {
  --text: #24292f;
  --bg: #ffffff;
  --code: #e9e9e9;
  --ref: #ffcc4d;
  --ref2: #5dadec;
  --ref3: #be1931;
  --quote: #57606a;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', serif;
  font-size: 20px;
  color: var(--text);
  background-color: var(--bg);
  margin: 0;
}

@media (prefers-color-scheme:dark) {
  :root {
    --text: #ffffff;
    --bg: #0d1117;
    --code: #24292f;
    --quote: #8b949e;
    color-scheme: dark;
  }
}

a {
  color: #518ef0;
}

img {
  border-radius: 10px;
}

table,
th,
td {
  border: 1px solid #5c5c5c;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}

code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 80%;
  background-color: var(--code);
  border-radius: 6px;
}

li {
  line-height: 1.5em;
}

blockquote {
  color: var(--quote);
  border-left: 3px solid var(--quote);
  padding-left: 10px;
  margin-left: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

.ref {
  text-decoration: none;
  color: var(--ref);
  font-weight: 600;
  text-shadow: 0 0 10px var(--ref);
}

.ref2 {
  text-decoration: none;
  color: var(--ref2);
  font-weight: 600;
  text-shadow: 0 0 10px var(--ref2);
}
.ref2 {
  text-decoration: none;
  color: var(--ref3);
  font-weight: 600;
  text-shadow: 0 0 10px var(--ref3);
}

.material-icons-round {
  font-size: 30px;
}

#one {
  color: #ffffff;
  background: linear-gradient(145deg, #2b0000 0%, #790909 35%, #ff0000 100%);
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: .1em;
  margin: 0;
  padding: 0;
}

#one h1 {
    font-size: min(17.5vw, 185px);
    margin-top: 0;
    margin-bottom: min(10%, 50px);
}

.svgicon {
  height: 1em;
  width: 1em;
  display: inline-flex;
  align-self: center;
  top: .125em;
  position: relative;
}

#two {
  margin: 8px;
}

.scroll {
  height: 50px;
  width: 50px;
  border: 5px solid #ffffff;
  border-radius: 50px;
  color: white;
  font-size: 50px;
}

.line-image img {
  width: min(100%, 800px);
}

.menu {
  border: 5px solid #ffffff;
  border-radius: 50px;
  padding: 7.5px;
}

.menu span{
  font-size: 35px;
  color: #ffffff;
  padding-left: 5px;
  padding-right: 5px;
}

.menu a {
  text-decoration: none;
}

.topback {
  height: 40px;
  background: linear-gradient(145deg, #2b0000 0%, #790909 35%, #ff0000 100%);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.topback a {
  color: #ffffff;
  text-decoration: none;
}

.topback h4 {
  color: #ffffff;
  font-size: 22.5px;
}

img.emoji {
  height: 1em;
  width: 1em;
  border-radius: 0;
  display: inline-flex;
  align-self: center;
  position: relative;
  top: .125em;
}

.sommaire a {
  color: var(--ref);
  text-decoration: none;
  border-bottom: 1.5px solid;
}

.members-table img {
  height: min(50vw, 300px);
}